button#re-active(onclick='onRestartAllActive()') Restart All Active
button#del-failed(onclick='onDeleteAllFailed()') Delete All Failed
button#re-failed(onclick='onRestartAllFailed()') Restart All Failed
button#del-complete(onclick='onDeleteAllComplete()') Delete All Complete
