button#re-active(onclick='onRestartAllActive()') Restart All Active
button#re-failed(onclick='onRestartAllFailed()') Restart All Failed
button#del-complete(onclick='onDeleteAllComplete()') Delete All Complete