button
    a#re-active(href='/actions/restart-active') Restart All Active
button
    a#re-failed(href='/actions/restart-failed') Restart All Failed
button
    a#del-complete(href='/actions/remove-complete') Remove All Complete