#re-active, #re-failed, #del-complete
  outline: none
  border: none
  padding: 5px
  color: white
  cursor: pointer

#re-active
  background-color: #00e600
  border-bottom-left-radius: 5px
#re-failed
  background-color: #fff827

#del-complete
  background-color: #f26251
  border-bottom-right-radius: 5px
